<!DOCTYPE html>
<html>
<head>
	<title>Hacktiv8 Library</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>">
</head>
<body>
	<div class="header">
		<h2>Hacktiv8 Library</h2>
	</div>
	
	<div class="nav">
		<p>Jadwal Buka : Senin - Kamis (08.00 - 16.00) & Jum'at - Sabtu (08.00 - 13.00)</p>
	</div>
	
	<div class="samping">
		<ul>
			<br><br><br>
			<a href="/">HOME</a>
			<br><br><br>
			<a href="/members/add">ADD</a>
		</ul>
	</div>
	
	<div class="isi">
		<center>
		<h3>Daftar Anggota</h3>
			<table border="1">
				<tr>
					<th width="5%">ID</th>
					<th>Name</th>
					<th>address</th>
					<th>Phone Number</th>
					<th width="10%" colspan="2">Action</th>
				</tr>
		

				<% listMembers.forEach(el => { %>

					<tr>
						<td><center><%= el.id %></center></td>
						<td><%= el.name %></td>
						<td><%= el.address %></td>
						<td><%= el.phone_number %></td>
						<td><a href="/members/edit/<%= el.id %>">Edit</a></td>
						<td><a href="/members/delete/<%= el.id %>">Delete</a></td>
					</tr>
				<% }) %>

			</table>
		</center>
	</div>

	<div class="footer">
		<h4>&trade; Hacktiv8 KG-01-Agile Fox </h4>
	</div>
</body>
</html>