<!DOCTYPE html>
<html>
<head>
	<title>Hacktiv8 Library</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>">
</head>
<body>
	<div class="header">
		<h2>Hacktiv8 Library</h2>
	</div>
	
	<div class="nav">
		<p>Jadwal Buka : Senin - Kamis (08.00 - 16.00) & Jum'at - Sabtu (08.00 - 13.00)</p>
	</div>

	<div class="samping">
		<ul>
			<br><br><br>
			<a href="/">HOME</a>
			<br><br><br>
			<a href="/books/add">ADD</a>
		</ul>
	</div>
	
	<div class="isi" style="overflow-y: scroll; height:400px;">
		<center>
			<h3>Book List</h3>
			<table border="1">
				<tr>
					<th width="5%">ID</th>
					<th>Name</th>
					<th>ISBN</th>
					<th>Released Year</th>
					<th>Author</th>
					<th>Genre</th>
					<th>Stock</th>
					<th width="10%" colspan="2">Action</th>
				</tr>
				
				<% for (let i=0; i < listBooks.length; i++) { %>
					<tr>
					  <td><%= listBooks[i].id %></td>
					  <td><%= listBooks[i].name %></td>
					  <td><%= listBooks[i].isbn %></td>
					  <td><%= listBooks[i].released_year %></td>
					  <td><%= listBooks[i].author %></td>
					  <td><%= listBooks[i].genre %></td>
					  <td><%= listBooks[i].stock %></td>
					  <td>
						<a href="/books/edit/<%=listBooks[i].id %>">Edit</a> |
						<a href="/books/delete/<%=listBooks[i].id %>" onclick="return confirm('Deleting data, are you sure?')">Delete</a>
					  </td>
					</tr>
				<% } %>
				
			</table>
		</center>
	</div>
	
	<div class="footer">
		<h4>&trade; Hacktiv8 KG-01-Agile Fox </h4>
	</div>
</body>
</html>